

.background_custom {
    /* The image used */
    background-image: url("../../assets/header_bg.jpg");

    /* Full height */
    height: 100vh; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron{
    background-color: transparent ;
}

.h1_custom, h2_custom{
    font-family: 'Playfair Display';
}

p.anim-typewriter{
  font-size: 2em;
}



/*type text*/

  
  .line-1{
    font-family: 'Playfair Display';
    position: relative; 
    float:left;
    margin-top:0;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
  }
  
  /* Animation */
  .anim-typewriter{
    animation: typewriter 4s steps(55) 1s 1 normal both,
               blinkTextCursor 500ms steps(55) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 100%;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: transparent;}
    to{border-right-color: transparent;}
  }


  a {
    color: white;
  }

  a:hover{
    color:white;
    text-decoration: none;
  }

  button{
    align-content: center;
  }