<script>

    var typed = $(".typed");
  
  $(function() {
    typed.typed({
      strings: [  "Bart Muller.", "Frontend Trainee.", "UX Designer.", "Graphic Designer.",],
      typeSpeed: 100,
      loop: true,
    });
  });
  </script>

<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700" rel="stylesheet"> <!--H1 Google Font-->

      <div class="background_custom alig-self-center"> <!--Background Image-->
          <div class="container-fluid grey">
            <div class="row justify-content-center">
              <div class="col-8">
                <div class="jumbotron"> 
                      <h1 class="display-1 h1_custom">Lekkere Recepten</h1>
                      <hr class="my-4">
                      <p class="line-1 anim-typewriter">Dit is het kookplatform voor al jouw lekkere gerechten!</p>

                      
                </div>
                <div class="row justify-content-center">
                <button type="button" class="btn btn-success buttom_custom"><a href="#receptenbox">BEKIJK HET AANBOD</a></button>
                </div>
              </div>
            </div>
          </div>
      </div>
   
    
<app-add-recept></app-add-recept>
<app-receptenbox></app-receptenbox>  





